/* Share CSS */
.font-open-sans {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
}

.background-linear{
    background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}

.font-background {
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* Main Section */
/* Navbar section */
nav {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    background-color: #412567;
}

nav .logo{
    color: #FFFFFF;
}

nav .nav-menu{
    color: #FFFFFF;
}

nav .nav-menu ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-menu ul li a{
    color: #FFFFFF;
    text-decoration: none;
}

.nav-menu ul li a:hover{
    color: gray;
}

button{
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
}