/* Share CSS */
.font-open-sans {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
}

.background-linear{
    background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
     padding: 12.5px 20px;
}

/* body{
    background-color: rgba(26, 11, 46, 1);
} */

.font-background {
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.header{
    color: #ffffff;
    font-size: 3.5rem;
}

.header-2{
    color: #ffffff;
    font-size: 2.5rem;
}

.header-pera{
    color: #FFFFFF;
}




/* Main Section */
/* Navbar section */
nav {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    background-color: #412567;
}

nav .logo{
    color: #FFFFFF;
}

nav .nav-menu{
    color: #FFFFFF;
}

nav .nav-menu ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-menu ul li a{
    color: #FFFFFF;
    text-decoration: none;
}

.nav-menu ul li a:hover{
    color: gray;
}

button{
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
}



/* Hero Section */
.hero-bg{
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

  align-items: center;
  width: 100%;
  height:  930px;
  border-top: 1px solid rgba(70, 36, 133, 0.822);
}

.hero-circle-bg{
    background-image:  url(../assets/hero-circle.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center; 
    align-items: center;
    /* border: 1px solid #FFFFFF; */
}

.hero-container{
    justify-items: center;
    /* align-items: center; */
}

.hero-content-box{
    border: none;
    
}

.header-section{
    text-align: center;
}



button a{
    text-decoration: none;
    color: #ffffff;
}

.subscribe{
    text-decoration: none;
    padding: 12.5px 20px;
    background-color: transparent;
    border: 2px solid #00FF88;
}

.subscribe a{
    color: #0dd377;
}

.new{
    position: absolute;
    top: 180px;
    right: 20px;
    text-decoration: none;
    padding: 12.5px 20px;
    background-color: transparent;
    border: 2px solid #00FF88;
}

hr{
    border: 1px solid rgb(35, 22, 46);
}



/* About Section */
#about{
    background-color: rgba(26, 11, 46, 1);
    text-align: center;
}

.about-card-box{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.about-card{
    color: #00FF88;
    margin-top: 80px;
    margin-bottom: 120px;
}





/* Resposive Layout */