/* Share CSS */
.font-open-sans {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
}

.background-linear{
    background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
     padding: 12.5px 20px;
}

body{
    background-color: rgba(26, 11, 46, 1);
}

.font-background {
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.header{
    color: #ffffff;
    font-size: 3.5rem;
}

.header-2{
    color: #ffffff;
    font-size: 2.5rem;
}

.header-pera{
    color: #FFFFFF;
}




/* Main Section */
/* Navbar section */
nav {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    background-color: #412567;
}

nav .logo{
    color: #FFFFFF;
}

nav .nav-logo{
    display: none;
}

nav .nav-menu{
    color: #FFFFFF;
}

nav .nav-menu ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-menu ul li a{
    color: #FFFFFF;
    text-decoration: none;
}

.nav-menu ul li a:hover{
    color: gray;
}

button{
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
}



/* Hero Section */
.hero-bg{
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

  align-items: center;
  width: 100%;
  height:  930px;
  border-top: 1px solid rgba(70, 36, 133, 0.822);
}

.hero-circle-bg{
    background-image:  url(../assets/hero-circle.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center; 
    align-items: center;
    /* border: 1px solid #FFFFFF; */
}

.hero-container{
    justify-items: center;
    /* align-items: center; */
}

.hero-content-box{
    border: none;
    
}

.header-section{
    text-align: center;
}



button a{
    text-decoration: none;
    color: #ffffff;
}

.subscribe{
    text-decoration: none;
    padding: 12.5px 20px;
    background-color: transparent;
    border: 2px solid #00FF88;
}

.subscribe a{
    color: #0dd377;
}

.new{
    position: absolute;
    top: 180px;
    right: 20px;
    text-decoration: none;
    padding: 12.5px 20px;
    background-color: transparent;
    border: 2px solid #00FF88;
}

hr{
    border: 1px solid rgb(35, 22, 46);
}



/* About Section */
#about{
    background-color: rgba(26, 11, 46, 1);
    text-align: center;
}

.about-card-box{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10xpx;
}

.about-card{
    color: #00FF88;
    margin-top: 80px;
    margin-bottom: 120px;
}

.about-card h2{
    font-size: 2.5rem;
}


/* Why Section  */
#why h2{
    text-align: center;
    color: rgb(255, 255, 255);
}

.why-card-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
}

.why-card{
    width: 95%;
    height: 95%;
    border: none;
    border-radius: 40px;
    padding: 17px;
    background-color: #412567;
}

#big-card-row{
    grid-row: span 2;
}

#big-card-column{
    grid-column: span 2;
}

#small-card-column{
    grid-column: span 1;
}

.why-card h3,p{
    color: #FFFFFF;
}



/* Featured Episodes Section */
#featured{
    margin-top: 100px;
    justify-content: center;
}

.featured-header{
    text-align: center;
}

.featured-card-container{
    justify-content: center;
    display: flex;
    gap: 30px;
}

.featured-card{
    background-color: #412567;
    border-radius: 15px;
    padding: 0px;
    width: 400px;
}

iframe{
    border-radius: 15px;
}



/* Host Section */

#host{
    margin-top: 80px;
    justify-items: center;
}

.host-header{
    text-align: center;
}

.host-container{
    padding: 30px;
    display: flex;
    grid-area: 30px;
    justify-content: space-between;
    border: none;
    border-radius: 30px;
    background-color: #211531;
    margin-top: 20px;
}

.host-content{
    margin-left: 30px;
}

.host-content ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.host-content ul li{
    margin-top: 30px;
    margin-right: 20px;
    border: 2px solid gray;
    padding: 15px;
    border-radius: 100%;

}


/* Footer Section */
#footer{
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-header{
    margin-top: 100px;
    text-align: center;
}

#footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

#footer ul li{
    color: #FFFFFF;
    margin-right: 30px;
}




/* Resposive Layout */
/* responsive media query */

 /* small size */

@media screen and (max-width:576px){
    .nav-menu{
        display: none;
    }

    nav .nav-btn{
        display: none;
    }

    nav .nav-logo{
    display: flex;
    }

    .about-card-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #why .why-card-container{
        display: flex;
        flex-direction: column;
    }

    #featured .featured-card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .host-container{
        display: flex;
        flex-direction: column;
    }
}